---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Beta-Portfolio">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44" >
			<h1 class="text-white text-5xl font-bold">
				Hey soy Facu <Badge>Disponible para trabajar</Badge>
			</h1>
			<h2>
				+1 año de experiencia. Desarrollador Web con JavaScript. De Mendoza,
				Argentina 🇦🇷. Especializado en crear aplicaciones únicas
			</h2>
		</section>

	</main>
</Layout>
