---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import GitHub from "../components/icons/GitHub.astro";
import SocialPill from "../components/icons/SocialPill.astro";
import Email from "../components/icons/Email.astro";
import Projects from "../components/Projects.astro";
---

<Layout
	title="Beta-Portfolio Facundo - Desarrollador y Programador Web"
	description="Contrata a Facundo para crear tu aplicación web. Desarrollador web full stack especializado en crear aplicaciones únicas"
>
	<main>
		<!-- Section for the person description -->
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1
				class="text-white text-5xl font-bold flex flex-row items-center gap-x-4 pb-10"
			>
				Hey soy Facu <a
					href="https://www.linkedin.com/in/facundo-figueroa-847286270/"
					target="_blank"
					rel="noonpener"
					class="flex justify-center items-center"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>

			<h2 class="text-2xl opacity-80 text-wrap">
				<span class="">+1 año de experiencia.</span>
				<span class="text-yellow-200/90">
					Desarrollador Web con JavaScript</span
				>. <span class="text-blue-200/90">De Mendoza, Argentina 🇦🇷</span>. <span
					class="opacity-75"
				>
					Especializado en crear aplicaciones únicas</span
				>.
			</h2>

			<nav class="flex gap-4 mt-8">
				<SocialPill
					href="https://www.linkedin.com/in/facundo-figueroa"
					target="_blank"
					rel="noonpener"
				>
					<LinkedIn class="size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill
					href="https://github.com/Exe-Figueroa"
					target="_blank"
					rel="noonpener"
				>
					<GitHub class="size-6" />
					GitHub
				</SocialPill>

				<SocialPill
					href="https://github.com/Exe-Figueroa"
					target="_blank"
					rel="noonpener"
				>
					<Email class="size-6" />
					facundofigueroa789@gmail.com
				</SocialPill>
			</nav>
		</section>

		<!-- Projects Section -->
		<section>
			<Projects />
		</section>
	</main>
</Layout>
