---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import Code from "../components/icons/Code.astro";
import SocialMediaDescription from "../components/SocialMediaDescription.astro";
import Badge from "../components/Badge.astro";
import NavSocialMedia from "../components/NavSocialMedia.astro";
import Tools from "../components/icons/Tools.astro";
import JavaScript from "../components/icons/JavaScript.astro";
import React from "../components/icons/React.astro";
import HTML from "../components/icons/HTML.astro";
import CSS from "../components/icons/CSS.astro";
import DB from "../components/icons/DB.astro";
import Node from "../components/icons/Node.astro";

---

<Layout
	title="Beta-Portfolio Facundo - Desarrollador y Programador Web"
	description="Contrata a Facundo para crear tu aplicación web. Desarrollador web full stack especializado en crear aplicaciones únicas"
>
	<main class="p-2 font-custom">
		<!-- Section for the person description -->
		<SectionContainer
			class="pt-18 pb-32 lg:w-9/10 flex items-center h-fit mt-16 md:mt-0"
			id="sobre-mi"
		>
			<!-- socialMedia -->
			<SocialMediaDescription class="hidden sm:flex sm:flex-col" />
			<div class="mx-auto flex flex-col lg:flex-row items-center w-[800px]">
				<article
					class="flex flex-col md:mx-auto lg:mx-0 gap-4 p-6 h-fit mt-14 lg:mr-20 relative"
				>
					<img
						src="/photo-portfolio-small.png"
						alt="small profile image"
						class="size-20 rounded-full absolute right-7 top-0 object-cover lg:hidden"
					/>
					<h3>JavaScript</h3>
					<h3>Facundo Figueroa</h3>
					<h1 class="font-goblin text-5xl">Web-Developer</h1>
					<h2 class="text-2xl opacity-80 text-wrap">
						<span class="">+1 año de experiencia.</span>
						<span class="text-yellow-200/90">
							Desarrollador Web con JavaScript
						</span>.
						<span class="text-blue-200/90">De Mendoza, Argentina 🇦🇷</span>.
						<span class="opacity-75">
							Especializado en crear aplicaciones únicas
						</span>.
					</h2>
					<a
						href="https://www.linkedin.com/in/facundo-figueroa-847286270/"
						target="_blank"
						rel="noonpener"
					>
						<Badge>Disponible para trabajar</Badge>
					</a>
					<NavSocialMedia />
				</article>
				<img
					src="/photo-portfolio.png"
					alt="Profile image"
					class="hidden lg:flex -mt-12 lg:h-[500px]"
					style="mask-image: linear-gradient(black 80%, transparent"
				/>
			</div>
		</SectionContainer>

		<!-- Experience Section -->
		<SectionContainer id="experiencia" class="lg:w-[750px]">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-8" />
				Experiencia
			</h2>
			<Experience />
		</SectionContainer>

		<!-- Projects Section -->
		<SectionContainer id="proyectos" class="lg:w-[750px]">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Code class="size-8" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
		<!-- About me section -->
		<SectionContainer id="sobre-mi" class="lg:w-[750px]" >

		</SectionContainer>

		<!-- Technologies section -->
		<SectionContainer id="tecnologías" class="lg:w-[750px]" >
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Tools class="size-8" />
				Tecnologías
			</h2>
			<div class="w-full flex justify-around">
				<JavaScript class="size-24 bg-js"/>
				<React class="size-24 text-react"/>
				<HTML class="size-24 text-html"/>
				<CSS class="size-24 text-css"/>
				<DB class="size-24 text-postgres"/>
				<Node class="size-24 text-node"/>

			</div>
		</SectionContainer>
	</main>
</Layout>
