---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCES = [
  {
    date: "Actualidad",
    title: "Estudiante de La Cantera Software",
    description:
      "Curso diariamente en las oficinas de La Cantera Software, aprendiendo sobre desarrollo web y otras tecnologías. En este lugar he aprendido a trabajar en equipo, a utilizar herramientas de control de versiones y a desarrollar proyectos reales.",
    link: "https://www.canterasoft.com/",
  },
];
---

<ol class="relative border-s dark:border-gray-200 ml-3">
  {
    EXPERIENCES.map((item) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...item} />
      </li>
    ))
  }
</ol>
