---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCES = [
  {
    date: "Actualidad",
    title: "Estudiante de La Cantera Software",
    description:
      "Curso diariamente en las oficinas de La Cantera Software, aprendiendo sobre desarrollo web y otras tecnologías. En este lugar he aprendido a trabajar en equipo, a utilizar herramientas de control de versiones y a desarrollar proyectos reales.",
    link: "https://www.canterasoft.com/",
  },
  {
    date: "11-2-2023",
    title: "Example title2.js",
    description:
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae eligendi quis nemo quam vel aspernatur, excepturi commodi atque? Atque exercitationem, assumenda sequi vitae pariatur consequuntur voluptatum accusantium expedita ad rem.",
    link: "#",
  },
  {
    date: "11-2-2023",
    title: "Example title3.js",
    description:
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae eligendi quis nemo quam vel aspernatur, excepturi commodi atque? Atque exercitationem, assumenda sequi vitae pariatur consequuntur voluptatum accusantium expedita ad rem.",
    link: "#",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    EXPERIENCES.map((item) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...item} />
      </li>
    ))
  }
</ol>
