<header class="flex justify-center items-center py-5 w-full  xl:w-[1120px] mx-auto">

  <nav class="sm:flex flex-row justify-between opacity-90 w-full lg:w-[740px] mx-auto hidden sm:px-12">
    <a href="#top">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#sobre-mi">Sobre mí</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>
