---
import "../styles/style.css";
---

<header
  class="flex justify-end sm:justify-center items-center sm:py-5 w-full xl:w-[1120px] mx-auto"
>
  <div class="w-full relative sm:hidden">
    <div class="fixed top-4 right-4 z-20 w-[50px] h-[50px] flex items-center backdrop-blur-lg rounded-full">
      <input id="checkbox" type="checkbox" />
      <label class="toggle -ml-[2px]" for="checkbox">
        <div id="bar1" class="bars"></div>
        <div id="bar2" class="bars"></div>
        <div id="bar3" class="bars"></div>
      </label>
    </div>
    <div
      id="menu"
      class="fixed bottom-full left-0 z-10 w-full h-screen transition flex flex-col bg-slate-800 items-center justify-center gap-8 text-2xl font-bold"
    >
      <a class="anchor" href="#top">Inicio</a>
      <a class="anchor" href="#experiencia">Experiencia</a>
      <a class="anchor" href="#proyectos">Proyectos</a>
      <a class="anchor" href="#sobre-mi">Sobre mí</a>
      <a class="anchor" href="#contacto">Contacto</a>
    </div>
  </div>
  <nav
    class="sm:flex flex-row justify-between opacity-90 w-full lg:w-[740px] mx-auto hidden sm:px-12"
  >
    <a href="#top">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#sobre-mi">Sobre mí</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>
<script>
  const checkbox = document.getElementById("checkbox");
  const anchorList = document.querySelectorAll(".anchor");
  const menu = document.getElementById("menu");
  checkbox?.addEventListener("change", toggleSeeMenu);
  function toggleSeeMenu(event: Event) {
    const target = event.target as HTMLElement;
    if (checkbox instanceof HTMLInputElement) {
      menu?.classList.toggle("translate-y-full");
      if (target.nodeName !== "INPUT") {
        checkbox.checked = !checkbox.checked;
      }
    }
  };
  anchorList.forEach((anchor) => {
    anchor.addEventListener("click", toggleSeeMenu);
  });
</script>
