<header class="flex justify-between items-center py-5 w-full  xl:w-[1120px] mx-auto ">
  <img
    class="rounded-full size-12 object-cover"
    src="https://estaticosgn-cdn.deia.eus/clip/f88cfdcf-3007-4c1f-8115-1f4393f896d3_16-9-aspect-ratio_default_0.jpg"
    alt="Facundo Photo"
  />

  <nav class="flex flex-row gap-x-10 opacity-90">
    <a href="#top">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#sobre-mi">Sobre mí</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>
